<!DOCTYPE html>
    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="{{ site.baseurl}}/js/functions.js"></script>
    <script src="{{ site.baseurl}}/js/main.js"></script>
    <script src="{{ site.baseurl}}/js/modernizr.js"></script>
    <link rel="stylesheet" href="{{ site.baseurl}}/css/airspace.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ site.baseurl}}/css/ihover.css">
<html class="no-js">
  <head>

    {% include head.html %}

  </head>
  <body>


    {% include header.html %}


    {{ content }}









    {% include footer.html %}
    {% include analytics.html %}
    </body>
</html>
